<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
  <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
    {{ product.name }}
  </a>
  </h3>

  <p *ngIf="product.price">
    Price: {{product.price}}
  </p>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>

  <button (click)="share()">
    Share
  </button>
 <!-- the product list component is passing the product
as an input to the product alerts component. -->
  <app-product-alerts [productI]= "product"
  (notify) = "onNotify()">
  </app-product-alerts>

</div>